*{
  margin: 5px;
  padding:10px;
background-color: rgb(118, 105, 230);
}

#logo{
  background:(qes logo.jpeg)) 0 0;

  height: 70px;
  width: 70px;
  background-size: cover;
  background-position:center;
  border:0px;
  border-radius:5px;
}



ll
*{



    background-color: rgb(101, 101, 209);
}
*{
    background-position: 15px ;
    }
    

    h1 {
        font-size: 50px;
      }
h2{
    font-size: 30px;
}
* {
  box-sizing: border-box;
}

.openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.openBtn:hover {
  background: #bbb;
}

.overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
}

.overlay-content {
  position: relative;
  top: 46%;
  width: 80%;
  text-align: center;
  margin-top: 30px;
  margin: auto;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  cursor: pointer;
  color: white;
}

.overlay .closebtn:hover {
  color: #ccc;
}

.overlay input[type=text] {
  padding: 15px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.overlay input[type=text]:hover {
  background: #f1f1f1;
}

.overlay button {
  float: left;
  width: 20%;
  padding: 15px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.overlay button:hover {
  background: #bbb;
}


.nav{
  display:flex;
  padding: 2% 6%;
  align-items: centers;  

}
.nav-links{
  flex:1;
  text-align: center;
  font-size:x-large;
  color: black;  }
  .nav-links ul li{
  display: inline-block ;
  list-style: none;
  padding: 8px 12px;
  position:relative;
  font-size: large;  list-style-type: circle;

}
.nav-links ul li a{
  color:black;
  text-decoration: none;
  font-size: 40px;
}

.text-box{
  width:90%;
  color:aqua;
  position: absolute;
  top:50%;
  left:50%;
  
  text-align: center;

}

.hero-btn{
  display: inline-block;text-decoration: none;
color :#ddd;
border: 1px solid #fff;
padding:12px 34px;
font-size:20mm;
background-color: black;
position:relative;
cursor:pointer;
transform: translate(-50%,-50%) ;
background:transparent ;
transition: .5s;
}
.hero-btn:hover{
  border: 1px solid #444;
  
  transition:1s;
}

.header1{
  text-align: center;
}
.row{
  text-align: center;
  color: black;
  font-size: 50px;
}
.terms{
  display:flex;
   list-style-position: none;
  text-align: left;
  list-style-type: circle;
  text-emphasis-color: black;
  
  
  padding: 8px 12px;
  position:relative;
  font-size: 30px;
  color: black;


}

.nav ul li button:hover
{
    color: aqua;
}
nav ul li a:hover
{
    color: aqua;
}
.full-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(images/bg-2.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}
*{
    text-decoration: none;
    color: rgb(10, 9, 9);
    font-size: 28px;
}
#login-form
{
    display: none;
}
.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0,0,0,0.3);
	padding:10px;
    overflow: hidden;
}
.button-box
{
	width:0px;
	margin:35px auto;
	position:relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
.toggle-btn
{
	padding:10px 30px;
	cursor:pointer;
	background:transparent;
	border:0;
	outline: none;
	position: relative;
}
#btn
{
	top: 0;
	left:0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: #F3C693;
	border-radius: 30px;
	transition: .5s;
}
.input-group-login
{
	top: 150px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-group-register
{
    top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
}
.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #999;
	outline:none;
	background: transparent;
}
.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 30px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}
#register
{
	left:450px;
}
#register input
{
	color:white;
	font-size: 15;
}


.header{
  font-size: 30px;
  color: black;
}
  
#insta{
  width:46px;
  height: 44px;
  background: url(instagram_icon.png) 0 0;
}
.twitter{
  width:46px;
  height: 44px;
  background: url(twitter.jpeg) 0 0;
}


